.gameContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  font-family: 'Sarabun', sans-serif;
}


.topControl {


  background: white;

  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  text-align: center;
}


.fileBtn {
  padding: 10px 20px;
  background: #ddd;
  border-radius: 8px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  font-weight: 500;
}


.mainBtn {
  background: #4CAF50;
  color: white;
  padding: 1px 2px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  margin-top: 15px;
  font-size: 8px;
  display: inline-flex;
  align-items: center;
  gap: 0px;
  transition: 0.2s;
}

.mainBtn:hover {
  background: #45a049;
  transform: scale(1.05);
}

.mainBtn.reset {
  background: #2196F3;
}


.boxstart {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 20px;
}


.cardContainer {
  width: 160px;
  height: 100px;
  position: relative;
}


.cardWrapper {
  width: 160px;
  height: 100px;
  transform: rotate(90deg);
  transform-origin: center center;
  position: absolute;
  top: 0;
  left: 0;
}


.card {
  width: 120px;
  height: 180px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.card-inner {
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}


.card.flipped .card-inner {
  transform: rotateY(180deg);
}
.card-front,
.card-back {
  width: 100%;
  height: 100%;
  border-radius: 12px;
  border: 4px solid #000;
  backface-visibility: hidden;
  position: absolute;
  overflow: hidden;
}
.card-front {
  background: #fff;
}
.card-back {
  transform: rotateY(180deg);
  background: #fff;
}

.card-front img,
.card-back img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}