.boxcenter{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 1000px;
    height: 650px;
    background-color: rgb(87, 216, 255);
    flex-direction: column;
}
.centermagic{
    display: flex;
}
.centeravatar{
    display: flex;
}
.magiccenter{
    background-color: rgb(0, 0, 0);
    width: 180px;
    height: 250px;
    margin: 10px;
    border-radius: 10px;
}
.avatarcenter{
    background-color: rgb(255, 255, 255);
    width: 180px;
    height: 250px;
    margin: 10px;
    border-radius: 10px;
}
.modification{
    display: flex;
}
.modificationcard{
    background-color: rgb(255, 255, 255);
    width: 180px;
    height: 30px;
    margin: 10px;
    border-radius: 10px;
}
.center-img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    border: 2px solid #000;
    object-fit: cover;
}

.mod-img {
    width: 60px;
    margin: 3px;
    border: 2px solid #222;
    border-radius: 5px;
}
