.center-battle{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 300px;
    height: 150px;
    background-color: rgb(96, 212, 241);
}