.battlecenter {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 1500px;
    height: 240px;
    background-color: rgb(87, 216, 255);
    flex-direction: column;
}
.battlebox{
    display: flex;
}
.center-battle {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 250px;
    height: 180px;
    background-color: rgb(32, 250, 4);
    border-radius: 10px;
     margin: 30px;
}
.img-battle-center{
    transform: rotate(90deg);
}