.deck {
  position: relative;
  /* border: 2px solid #333; */
  padding: 15px;
  min-height: 200px;
  display: flex;
  align-items: center;
  flex-direction: column;
  .deck-buttom{
    display: none;
  }

}
  .deck:hover{
        .deck-buttom{
        display: flex;
        position: absolute;
    }
  }

.deckCardsPreview {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}


.cardImg {
  width: 60px;
  height: 75px;
  object-fit: cover;
  border: 2px solid black;
  border-radius: 6px;
}


.jua, .discard, .select {
  width: 50px;
  height: 50px;
  border: 2px solid black;
  margin: 5px;
}

.select-file-btn {
  background: #333;
  color: #fff;
  padding: 12px 20px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
}

.deckOneCard {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;

}

.deckSingleImg {
  width: 150px;
  height: 180px;
  border-radius: 8px;
  border: 2px solid white;
  
  /* ตั้งค่าเงาเริ่มต้น */
  box-shadow:
    4px 4px 0 white, 
    4px 4px 6px rgba(0,0,0,0.3), 
    8px 8px 0 white, 
    8px 8px 10px rgba(0,0,0,0.2);
    
  /* เพิ่ม transition ให้ลื่นไหล */
  transition: all 0.3s ease;
  cursor: pointer;
}

/* พอเอาเมาส์ชี้ */
.deckSingleImg:hover {
  transform: translateY(-5px) translateX(-5px); /* ขยับตัวการ์ดขึ้น */
  
  /* เงาจะยืดออกตาม */
  box-shadow:
    6px 6px 0 white, 
    6px 6px 10px rgba(0,0,0,0.2), 
    12px 12px 0 white, 
    12px 12px 15px rgba(0,0,0,0.15),
    18px 18px 0 white, 
    18px 18px 20px rgba(0,0,0,0.1);
}
  



.jua, .discard, .select {
  width: 50px;
  height: 50px;
  background: #ccc;
  border: 2px solid black;
  margin: 5px;
  cursor: pointer;
}
.shuffle {
  width: 50px;
  height: 50px;
  background: #ccc;
  border: 2px solid black;
  margin: 5px;
  cursor: pointer;
}
.snoop {
  width: 50px;
  height: 50px;
  background: #ccc;
  border: 2px solid black;
  margin: 5px;
  cursor: pointer;
}
.deckcard{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
    text-align: center;
}
.buttomdeckcard{
    border-radius: 50%;
}
.down {
  width: 50px;
  height: 50px;
  background: #ccc;
  border: 2px solid black;
  margin: 5px;
  cursor: pointer;
}