.fillborad{
    border: 2px solid black;
    box-sizing: border-box;
    display: flex;
}
.start{
    width: 300px;
    height: 650px;
    background-color: red;
}
.center{
    width: 800px;
    height: 650px;
    background-color: rgb(96, 212, 241);
}
.end1{
    width: 300px;
    height: 650px;
    background-color: yellow;
}