.fillborad{
    border: 2px solid black;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.start{
    width: 200px;
    height: 650px;
    background-color: red;
}
.center{
    width: 800px;
    height: 650px;
    background-color: rgb(96, 212, 241);
    display: flex;
}
.end1{
    width: 300px;
    height: 650px;
    background-color: yellow;
}
.handcard{
    width: 180px;
    height: 250px;
    background-color: rgb(136, 136, 136);
    /* position: absolute; */
    /* z-index: 1; */
    border-radius: 10px;
}